@import url(https://fonts.googleapis.com/css?family=Merriweather); 

html, body { 
  background-image: url("fondo4.jpg"); 
  font-family: 'Outfit', sans-serif; 
  padding: 10px; 
  margin-top: 20px;
} 

.Logo{
  float: left;
  padding: 5px;
  padding-left: 30px;
  max-width: 200px;
}

h1 { 
  padding-left: 100px;
  padding-right: 100px;
  text-align: center; 
  color: #ffffff; 
} 

p { 
  text-align: center; 
  color: #ffffff; 
} 


form { 
  max-width: 600px; 
  text-align: center; 
  margin: 20px auto; padding: 20px;
	border-radius: 5px;
	background: #b4b7ca;
	box-shadow:0 42px 80px rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
} 

input, textarea { 
  border: 0; 
  outline: 0; 
  padding: 1em; 
  border-radius: 8px; 
  display: block;
  width: 100%; 
  margin-top: 1em; 
  font-family: 'Merriweather', sans-serif; 
  resize: none; 
} 

#input-submit { 
  color: rgb(255, 255, 255);
  background: rgb(12, 38, 55); 
  cursor: pointer; 
} 

#input-submit:hover { 
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2); 
} 

textarea { 
  height: 126px;
}   
  
.half { 
  float: left; 
  width: 48%; 
  margin-bottom: 1em; 
} 

@media (max-width: 480px) { 
  .half { 
    width: 100%; 
    float: none; 
    margin-bottom: 0; 
  } 
} 

.aside {
  padding: 50px;
  color: #ffffff;
  text-align: right;
}

 .form {
	margin-bottom: 20px;
  width: 304px;
  margin: 20px;
}

.recaptcha{
  align-self: center;
  margin-top: 20px;
}

.card{
  background-color: #b4b7ca;
  padding: 50px;
  padding-top: 30px;
  max-width: 400px; 
  text-align: center; 
  text-size-adjust: normal;
  margin: 20px auto; 
  max-height: 250px;
}

.card-body{
  max-width: 300px;
  text-align: center;
  max-height: 100px;
  padding: 0;
}

.card-img-top{
  max-width: 350px;
  text-align: center;
  max-height: 200px;
  padding-bottom: 15px;
}

.card-title{
  font-weight: bolder;
  font-size: large;
}

.footer {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}